$fontSize-xp: rem(10);
$fontSize-p: rem(12);
$fontSize-base: rem(14);
$fontSize-regular: rem(16);
$fontSize-medium: rem(20);
$fontSize-large: rem(25);
$fontSize-jumbo: rem(45);

$border-radius-button: 4px;

$border-radius-input: 4px;
$border-input: 1px solid #DBDBDB;

$background-main: #F2F2F2;
$background-header: #DBDBDB;

$disabled-button: #BBBBBB;
$sucess-button: #63B370;
$sucess-button-hover: #2d5d35;
$cancel-button: #F2F2F2;
$cancel-button-hover: #797979;

$color-grey-1: #94A096;
$color-grey-2: #D9D9D9;
$color-black-1: #5A5A5A;
$color-white-1: #FFFFFF;
$color-green-1: #45774D;
$color-green-2: #223B26;

$color-text: #7C7979;

$color-red-error: #CC0000;
